@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

* {
  box-sizing: border-box;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

.ant-segmented {
  width: fit-content;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: transparent;
}

.ant-segmented-group {
  background-color: transparent;
}

.ant-segmented-item.ant-segmented-item-selected {
  border-radius: 20px;
  background: rgb(3, 37, 65);
  color: #FFF;
}

.ant-progress-inner {
  background-color: #041a00 !important;
}

.ant-progress-text {
  color: #FFF !important
}